.formTextInput {
  width: 100%;
  display: block;
  background: #F9FAFB;
  border: 1px solid #DEDEE0;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: rgba(102, 102, 102, 0.466455);
  padding: 13px 45px 13px 13px;
}