.user_scene {
  background: #F2F2F2;
  padding-bottom: 82px;

  .content_block {
    width: 904px;
    background: #fff;
    margin: 0 auto;
    padding: 15px 0 27px 0;
    border: 1.08px solid #E4E4E4;
    box-shadow: 0 5px 15px rgba(121, 121, 121, 0.0527344);
  }
}